.row-dict-statistic.row{
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
}
.row-dict-statistic.row:after,
.row-dict-statistic.row:before{
    clear: both;
    display: table;
    width: 100%;
    content: '';
}
.row-dict-statistic.row .col-sm-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
}
.row-dict-statistic {
    margin-bottom: 32px;
    box-sizing: border-box;
}
.row-dict-statistic > div {
    padding-left: 0px;
    box-sizing: border-box;
}
.row-dict-statistic > div > div {
    border: 1px solid #e5e5e5;
    border-right: none;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    box-sizing: border-box;
}
.row-dict-statistic > div > div .small {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2px;
    color: #95928c;
    text-transform: uppercase;
    font-size: 14px;
    box-sizing: border-box;
}
.row-dict-statistic > div > div p.lead,
.row-dict-statistic > div > div .lead {
    font-size: 60px;
    font-weight: 200;
    line-height: 1.2;
    color: #141212;
    margin-bottom: 0;
    box-sizing: border-box;
}
.row-dict-statistic > div:first-child {
    padding-left: 15px;
    padding-right: 0;
    box-sizing: border-box;
}
.row-dict-statistic > div:first-child > div {
    padding-left: 0px;
    border-left: none;
    box-sizing: border-box;
}

.gicon.dzen {
    background: url(/local/templates/main/images/icons/dzen.png) no-repeat;
    width: 26px;
    height: 26px;
}

.gicon.dzen_big {
    background: url(/local/templates/main/images/icons/dzen_big.png) no-repeat;
    width: 32px;
    height: 32px;
}

.gicon.tg {
    background: url(/local/templates/main/images/icons/tg.png) no-repeat;
    width: 26px;
    height: 26px;
}

.gicon.tg_big {
    background: url(/local/templates/main/images/icons/tg_big.png) no-repeat;
    width: 32px;
    height: 32px;
}

.page-footer .s-icons {
    margin-bottom: 32px;
}

.page-footer .s-icons a:first-child {
    margin-left: 0;
}
.page-footer .s-icons a {
    display: block;
    width: 26px;
    height: 26px;
    margin-left: 10px;
}

@media (max-width: 650px)
.gtx_news .container>.news_flex:first-child div:first-child, .gtx_news .container>.news_flex:last-child div {
    min-height: 400px;
}

.header.header-new .user__name {
    margin-right: 0 !important;
    margin-left: 10px;
}

.s-icons a {
    display: inline-block;
}

.wysiwyg__p a {
    color: #1454e5;
	text-decoration: underline;
}

.wysiwyg__p a:hover {
	text-decoration: none;
}

.city-page-new h5, .city-page-new h5 a {
    color: #d72127;
    font-weight: bold;
    font-size: 18px;
}

.icon_logo .path1:before {
	/*background: url(images/logo20.png) 0 0 no-repeat !important;
	background-size: contain !important;*/
}

.social__button.icon_dzen {
	position: relative;
    background: #000;
}

.social__button.icon_tg {
	position: relative;
    background: #27a7e7;
}

.icon_dzen:after {
    content: url(/local/templates/main/images/icons/dzen_big.png);
	position: absolute;
    left: 14px;
    top: 14px;
}

.icon_tg:after {
    content: url(/local/templates/main/images/icons/tg_big.png);
	position: absolute;
    left: 14px;
    top: 14px;
}

.card__body ol, .card__body ul {
    list-style: auto;
    padding-left: 23px;
}

.gicon.nedict-logo {
    background: url(/local/templates/main/images/icons/nedictant.png) no-repeat;
    width: 81px;
    height: 19px;
}

.user__name_text {
	font-size: 0.5rem;
    text-transform: uppercase;
    line-height: 0.5rem;
    margin: 47px -10px 0px -7px;
    float: left;
    position: absolute;
}


.user__name_text_2 {
    font-size: 0.5rem;
    text-transform: uppercase;
    line-height: 0.5rem;
    margin: -11px -10px 0px -2px;
    float: none;
    position: absolute;
    text-align: center;
}

.link_js_popup.enter {
    margin-top: -7px;
}